# Server config
PORT=3000
NODE_ENV=development

SUPABASE_URL="https://szhkjxanifniieiomulz.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6aGtqeGFuaWZuaWllaW9tdWx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExODcwNDEsImV4cCI6MjA4Njc2MzA0MX0.6Epz2rfiHcUIkDel3ZhZlPLQa3C73gE0tFabT656kZc"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6aGtqeGFuaWZuaWllaW9tdWx6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE4NzA0MSwiZXhwIjoyMDg2NzYzMDQxfQ.OwnVvMRDVLet0Q7P0RCV0VIY7I8qwq1qLMlEHiYYldo"

# Hugging Face - Get from: https://huggingface.co/settings/tokens
HUGGINGFACE_API_KEY=your_hf_api_key
